.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.skeleton-circle {
    border-radius: 50%;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
    );
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}