.book, .play {
    display: flex;
    gap: 64px;
    margin-left: 500px;
    margin-top: 60px;
}

.bookInformation {
    width: 600px;
}

.title {
    display: flex;
    font-size: 32px;
    margin-bottom: 8px;
}

.author {
    font-size: 18px;
}

.subTitle {
    font-size: 16px;
    margin: 8px 0;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 32px 0 16px 24px;
}

.rating, .time, .audio, .ideas {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #032b41;
    background-color: #032b41;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px 28px;
}

.addToLibrary {
    font-size: 18px;
    color: blue;
}

.description{
    margin: 24px 0;
}

.genre {
    margin: 14px;
    font-size: 16px;
}

.summary, .authorAbout {
    line-height: 1.5;
    font-size: 15px;
}

.descriptionTitle {
    margin-bottom: 16px;
    font-size: 20px;
}

.aboutTheAuthor {
    margin-bottom: 60px;
}

.insideBookImage {
    width: 400px;
}

.bookPlayPage #SideBar .NavBar {
  height: calc(100vh - 200px);
}

.bookPlayRow{
    width: 1024px;
}

.bookPlayRow p{
    line-height: 1.5;
    white-space: pre-line;
    margin-top: 40px;
}

.playBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #032b41;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 52px;
}

.bookPlayPage .playBar, .bookPlayPage .playBar * {
    color: white !important;
}

.playBook {
    width: 16px;
}

.playInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.playTitle{
    font-size: 16px;
    margin-bottom: 8px;
}

.playBook{
    width: 48px;
}

.playAuthor{
    font-size: 12px;
}

.playButtons {
    display: flex;
    align-items: center;
    gap: 32px;
    position: absolute;
    left: 45%;
}

.timeBar{
    display: flex;
    align-items: center;
    gap: 32px;
}

.playButton{
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    padding: 8px;
}

.progressTime {
    border-radius: 8px;
    height: 4px;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.playSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #032b41;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: 200px 430px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}