.settingsRow{
    margin-left: 400px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settingsRow h1 {
    font-size: 48px;
}

.settingsRow h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.settingsRow p {
    font-size: 16px;
}

.plan{
    margin: 40px 0 60px 0;
}

.planButton{
    border: 1px solid #2db97c;
    background-color: #2db97c;
    border-radius: 4px;
}

.loggedOut {
    margin-left: 400px;
}

.loggedOutContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedOutContainer img{
    width: 60%;
}

.loggedOutContainer button{
    border: 1px solid #2db97c;
    background-color: #2db97c;
    padding: 4px 16px;
    border-radius: 5px;
    font-size: 20px;
}

.loggedOut h1{
    font-size: 48px;
}

.loggedOutContainer h2{
    padding-top: 32px;
    padding-bottom: 24px;
}

@media (max-width: 1090px) {
    .loggedOut{
        margin-left: 200px;
    }


}

@media (max-width: 768px) {
    .loggedOut{
        margin-left: 10px;
    }

    .loggedOutContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loggedOutContainer h2{
        text-align: center;
    }

    .settingsRow{
        margin-left: 50px;
    }
}